CAPTCHA_SITE_KEY=''
CAPTCHA_SITE_PRIVATE_KEY=''

# Información de la aplicación
APP_NAME=
APP_DOMAIN=
APP_URL=https://example.com
APP_DESCRIPTION="Portfolio Personal"
APP_LOCALE=es
APP_LOCALE_ALTERNATE=en


# Rutas de la API
API_DOMAIN_URL='https://api.example.com'
API_BASE_URL='https://api.example.com/api/v1'
API_PATH_CONTACT='contact/send'
