body {
    margin: 0;
    padding: 0;
    background-color: #F3F3F3;
    min-height: 100vh;
}

#app {
    display: grid;
    margin: 0 auto;
    max-width: 1200px;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    font-family: 'OpenSans', sans-serif;
}

#app-box-content {
    padding: 1rem;
}

.primary {
    color: var(--primary);
}

.bg-primary {
    background-color: var(--primary);
}

.warning {
    color: var(--warning);
}

.bg-warning {
    background-color: var(--warning);
}
