:root {
    --primary: #3272B8;
    --secondary: #F5F5F5;
    /*--warning: #E29244;*/
    --warning: #F2711C;
    --danger: #E23D3D;
    --white: #F5F5F5;
    --black: #141414;
    --blue: #3272B8;
    --gray: #DEDEDE;
    --grey: #DEDEDE;
    --darkgrey: rgba(0, 0, 0, 0.16);
    --yellow: #FFE350;
}
