:root {
    --primary: #3272b8;
    --secondary: #f5f5f5;
    /*--warning: #E29244;*/
    --warning: #f2711c;
    --danger: #e23d3d;
    --white: #f5f5f5;
    --black: #141414;
    --blue: #3272b8;
    --gray: #dedede;
    --grey: #dedede;
    --darkgrey: rgba(0, 0, 0, 0.16);
    --yellow: #ffe350;
}
